$first: white;
$second: black;
$third: #b88a4d;

//font
$first-font: 'Montserrat', sans-serif;

//navbar
$navbar-bg-color: $first;
$navbar-font-color: $second;
$navbar-font-size: 20px;
$navbar-font-color-hover: $first;
$navbar-bg-color-hover: $third;

$navbar-links-font-color: $second;
$navbar-links-hover-font-color: $third;
$navbartop-bg-color: $third;
$navgartop-font-color: $first;