$first: white;
$second: black;
$third: #b88a4d;
$four: #58442f;
$fifth: #e2e2e2;
$sixth: #a57b43;

//font
$first-font: 'Montserrat', sans-serif;

//navbar
$navbar-bg-color: $first;
$navbar-font-color: $second;
$navbar-font-size: 20px;
$navbar-font-color-hover: $first;
$navbar-bg-color-hover: $third;

$navbar-links-font-color: $second;
$navbar-links-hover-font-color: $third;
$navbartop-bg-color: $third;
$navgartop-font-color: $first;

//header
$header-font-color: $second;
$header-small-font-color: $third;

//contact
$contact-font-color: $third;
$contact-form-bg-color: $four;
$contact-label-font-color: $first;
$button-form-font-color: $first;
$button-form-bg-color: $third;
$button-form-bg-color-hover: $sixth;

//input
$input-border-color: $fifth;

