@import '../../../../styles/settings.scss';

.container {
  height: 100%;

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: auto 0;
    
    li {
      font-size: 16px;
      display: block;
      float: right;
      margin-left: 20px;

      a {
        text-decoration: none;
        color: white;
      }
    }  
  }
}